@model ProdutoViewModel
@{
    ViewData["Title"] = "Produto";
}

<link rel="stylesheet" href="~/css/Curriculo/curriculo.css" />

<body>
    <br />
    <h1>@Model.NomeProduto</h1>
    <br />
    <div class="section">
        <h2>Dados do Produto</h2>
        <br />
        <ul>
            <li><strong>Nome:</strong> @Model.NomeProduto</li>
            <li>
                <strong>Foto:</strong>
                <img id="imgPreview" src="data:image/jpeg;base64,@Model.FotoProduto" class="img-responsive"
                     width="100">
            </li>
            <li><strong>Descrição:</strong> @Model.DescricaoProduto</li>
            <li><strong>Preço:</strong> @Model.PrecoProduto</li>
            <li><strong>Estoque:</strong> @Model.EstoqueProduto unidades disponíveis</li>
            <li>
                <strong>Fornecedor:</strong>
                <select asp-for="IDFornecedor" asp-items="ViewBag.Fornecedores" class="form-control" readonly> </select>
            </li>
        </ul>
    </div>
    <br />
    <br />
    <button onclick="history.back()" class="btn btn-info">Voltar</button>
</body>